.wrapperSearchbar {
  border: 1px solid black;
  border-radius: 6px;
  display: flex;
  width: 600px;

  .input {
    font-size: 32px;
    width: 500px;
    border-radius: 6px 0px 0px 6px;
  }

  .button {
    background-color: #282c34;
    color: White;
    font-size: 18px;
    width: 100px;
    border: none;
  }
}
